$color1: #ffffff; // backgrounds and text on dark buttons
$color2: #9baec8; // column headers and some header text
$color3: #333333; // icons
$color4: #2b90d9; // buttons and active icons
$color5: #282c37; // most text
$color6: #df405a; // error red
$color7: #79bd9a; // succ green
$color8: #000000; // black
